/* Global Webpage Settings ------------------------------------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Instrument Sans', sans-serif;
}

:root {
 --primary: #F46044;
 --secondary: #F5D3C1;
 --background: #ffffff;
 --light-text: #ffffff;
 --dark-text: #000000; 
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Instrument Serif', serif;
    color: (var(--dark-text));
    font-weight: 500;
    line-height: 1.1;
}

body {
    background-color: var(--background);
    font-size: 1.75rem;
}

/*---------------------------------------------------------------------------------------------*/

#logo {
    max-width: 30%;
    padding: 50px;
    margin-right: 60px;
}

#cocktailButton {
    width: 400px;
    background-color: var(--secondary);
    color: var(--dark-text);
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 600;
    font-size: large;
    border: none;
}

header {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cocktailImg {
    max-width: 300px;
    max-height: 500px;
}

.imgcard {
    width: 400px;
    height: 400px;
    padding: 20px;
}

.slider-item {
    width: 600px;
    display: flex;
    justify-content: center;
}

.imgcard p {
    text-align: center;
}

.slider-container {
    height: 450px;
}

footer {
    background-color: var(--primary);
    height: 80px;
}